{% extends 'layout.twig' %}

{% block head %}
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  
{% endblock %}
