{% extends 'layout.twig' %}

{% block head %}
{% endblock %}

{% block main %}
  <div id="content">
    <!-- Hero Section -->
    <section class="bg-gray-200 text-gray-800 py-20">
      <div class="container mx-auto px-4 text-center">
        <h2 class="text-4xl font-bold mb-4">Witamy w naszym sklepie!</h2>
        <p class="text-lg mb-6">Znajdź najlepsze produkty w najlepszych cenach.</p>
      </div>
    </section>

    <!-- Produkty -->
    <section class="container mx-auto px-4 py-12">
      <h3 class="text-2xl font-bold text-gray-800 mb-6 text-center">Nasze Produkty</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for product in products %}
          <div class="bg-white rounded-2xl shadow p-4 text-center">
            <img src="{{ product.image }}" alt="{{product.title}}" class="mx-auto mb-4 rounded-xl h-48 w-96 object-contain" />
            <h4 class="text-lg font-semibold truncate">{{product.title}}</h4>
            <p class="text-gray-700 font-bold mt-2 mb-4">99 zł</p>
            <a
            href="/cart/add/{{ product.id }}"
            data-turbo-frame="cart-success"
            data-turbo-method="post"
            class="d-block mt-4 bg-gray-800 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition"
          >Dodaj do koszyka</a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
