{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for product in products %}
        {{ product.name }}

        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition">
            <img src="http://localhost:1337{{ product.image.url }}" alt="" class="w-full h-48 object-contain" />
            <div class="p-4">
                <h3 class="text-lg font-semibold mb-2">{{ product.name }}</h3>
                <p class="text-indigo-600 font-bold text-xl mb-4">{{ product.price }} zł</p>
                <button class="w-full bg-sky-800 text-white py-2 rounded hover:bg-indigo-700 transition">
                    Dodaj do koszyka
                </button>
            </div>
        </div>

    {% endfor %}

</div>
{% endblock %}
